* {
	/* font-size: 100%; */
	
}

p {
    margin-left: 3%;
}

form {
    margin-left: 3%;
}

table, th, td {
   border: 1px solid black;
   font-family: Courier;
}


/* Navigation bar CSS*/
.ul-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.li-navbar {
    float: left;
}
.li-navbar-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.li-navbar-a:hover {
    background-color: #111;
}
.li-navbar .active {
    background-color: #A9A9A9;
}
/* End of navigation bar CSS */

/* Invisible bullets class */
.no-bullets {
    list-style-type: none;
}

/* Centered class */
.centered {
    text-align: center;
}
